jenkins:
credentials:
  system:
    domainCredentials:
      - credentials:
        - gitHubApp:
            # apiUri: https://my-custom-github-enterprise.com/api/v3 # optional only required for GitHub enterprise
            appID: "{{ github_app_id }}"
            description: "{{ github_app_description }}"
            # https://stackoverflow.com/questions/67494516/with-ansible-how-do-i-write-a-private-key-to-a-text-file-without-losing-the-lef
            privateKey: {{ github_app_key }}
            id: "{{ github_app_jenkins_id }}"
        - usernamePassword:
            scope: GLOBAL
            id: "github-packages-classic-token"
            username: "{{ github_packages_username }}"
            password: "{{ github_packages_classic_token }}"
        - basicSSHUserPrivateKey:
            scope: GLOBAL
            id: "ssh-github-app-private-key"
            username: "unknown_username"
            passphrase: ""
            description: "GitHub App Private Key"
            privateKeySource:
              directEntry:
                privateKey: {{ github_app_private_key }}
        - basicSSHUserPrivateKey:
            scope: GLOBAL
            id: "ssh-github-private-key"
            username: "unknown_username"
            passphrase: ""
            description: "GitHub Private Key"
            privateKeySource:
              directEntry:
                privateKey: {{ github_private_key }}
        - basicSSHUserPrivateKey:
            scope: GLOBAL
            id: "ssh-previously-authorized-private-key"
            username: "unknown_username"
            passphrase: ""
            description: "Previously Authorized Private Key File"
            privateKeySource:
              directEntry:
                privateKey: {{ previously_authorized_private_key }}
        - file:
            scope: GLOBAL
            id: "ansible-vault-password"
            fileName: "ansible_vault_password"
            secretBytes: "{{ ansible_vault_password }}" # secretBytes requires base64 encoded content
