- name: Create disk
  google.cloud.gcp_compute_disk:
    name: "{{ item }}"
    size_gb: 50
    source_image: projects/ubuntu-os-pro-cloud/global/images/ubuntu-pro-2204-jammy-v20231117
    zone: "{{ zone }}"
    project: "{{ ansible_env.GCP_PROJECT }}"
    auth_kind: "{{ ansible_env.GCP_AUTH_KIND }}"
    service_account_file: "{{ ansible_env.GCP_SERVICE_ACCOUNT_FILE }}"
    state: "{{ infrastructure_state }}"
  register: disk

- name: Create address
  google.cloud.gcp_compute_address:
    name: "{{ item }}"
    network_tier: "STANDARD"
    region: "{{ region }}"
    project: "{{ ansible_env.GCP_PROJECT }}"
    auth_kind: "{{ ansible_env.GCP_AUTH_KIND }}"
    service_account_file: "{{ ansible_env.GCP_SERVICE_ACCOUNT_FILE }}"
    state: "{{ infrastructure_state }}"
  register: address

- name: Slurp SSH key
  slurp:
    src: "{{ ssh_key_path }}.pub"
  register: ssh_key

- name: Create compute instance
  google.cloud.gcp_compute_instance:
    name: "{{ item }}"
    machine_type: e2-micro
    zone: "{{ zone }}"
    disks:
      - auto_delete: 'true'
        boot: 'true'
        source: "{{ disk }}"
    network_interfaces:
    - network: "{{ network }}"
      access_configs:
      - name: External NAT
        nat_ip: "{{ address }}"
        type: ONE_TO_ONE_NAT
        network_tier: "STANDARD"
    metadata:
      ssh-keys: "{{ ssh_user }}:{{ ssh_key.content | b64decode | string }}"
      enable-oslogin: 'false'
    project: "{{ ansible_env.GCP_PROJECT }}"
    auth_kind: "{{ ansible_env.GCP_AUTH_KIND }}"
    service_account_file: "{{ ansible_env.GCP_SERVICE_ACCOUNT_FILE }}"
    state: "{{ infrastructure_state }}"
    labels:
      env: dev
      role: web

