- name: Install Jenkins
  hosts: web
  connection: ssh
  become: True
  vars:
    infrastructure_state: present
    jenkins_home: /var/lib/jenkins
    jenkins_admin_username: admin
    jenkins_admin_password: !vault |
              $ANSIBLE_VAULT;1.1;AES256
              32366464633537306638653262336231356531636531336361643031323264306630653932646234
              3038383262306465653364373061636239303032306165370a396165323736613163343330666237
              63616635376236663964363663376663326333646232613032653463333539643830363831393238
              6139336236353734660a326665666265623161616333353365393137633262373831313235636136
              35306266633030336532343764616261363039353936363030656261633064363637363639653431
              3739363131616436653230623163383966336331666262643262
    ansible_user: ansible
    # https://github.com/jenkinsci/jenkins/blob/6ca9b5ee5f601f72fcd094f8d159272c6b504b2f/core/src/main/resources/jenkins/install/platform-plugins.json
    jenkins_plugins:
      - ansible
      - ansicolor
      - ant
      - antisamy-markup-formatter
      - build-timeout
      - cloudbees-folder
      - configuration-as-code
      - credentials-binding
      - email-ext
      - git
      - github-branch-source
      - gradle
      - ldap
      - mailer
      - matrix-auth
      - pam-auth
      - pipeline-github-lib
      - pipeline-stage-view
      - ssh-slaves
      - timestamper
      - workflow-aggregator
      - ws-cleanup
    github_app_id: 290381
    github_app_description: "doer - site creator"
    github_app_jenkins_id: "github-app-doer"
    github_app_key: !vault |
              $ANSIBLE_VAULT;1.1;AES256
              66643837366563633530386138643063326537346363323236363638643861616662376661616635
              6430383534323236623862333538313362343333336162340a373463316662633862363937336166
              63306231316138616337313834663863343639663365363934313130613732616231653835346462
              6539366464616434650a306438613033646330306662336136393134366339356635316563626535
              62613866616163353136383130353238336462343732616537323239343865613336346336663335
              31343932623935323564353561663661356465323665663438373964663366396336353566353034
              33383339376338373136653531633234363861343961356336613230306664366530613461366566
              35316130363966373331373066363431363734636433336662313963313365646661663330643135
              65613630323164303137323365323631633433636234393866636130623931396130333532656133
              31393134346339386131336432323834633632363030343365363233313437636334626639313937
              65623265613863353738613630326235363332313836636264633030306133643962393633666661
              30663065303962396663363363363935386139343466343966353835333339363161393664393265
              61393463383565316539333834346532653535613931643266653263323137326565326661363331
              30643066323138386131333530326134326662343430323561353833613261376366386438396136
              66316465343636376166326362353133323062303739613233623266353562303464383338393761
              61623735373763393439643361633132323836333461373733636436393766653531613666306435
              30323832303061336430616461313933316434663239376335343735663965653061303536663231
              65353739623039643233376339346435333334613634653331356434303362346439316235356635
              37303639396561333863326230306433326361623365623037306130353236643064333064376438
              62353134666139373566363261623237633336306538396266363862646635363862383936373763
              34303863643731656639393234303763303032313931346561656534636332653437623965306435
              64383465306464303438653431613666666237656131656534363437356234373438343862366431
              36616635393764643535333364336263373234373238663432303234363966623564653736646366
              63306436363264323866656337323561353039663332333633376539343436326531646234313136
              63633661626261333836346263333537643136313261353065633339653365343062646135613439
              38656462653865623962636163653438653564646164626434313563656434613639353065653531
              37313233363833343930373166376162623163663538653733396637313031393431373335646431
              65653834656162393633383137366336633833643336386337643266313834613735623430663735
              34656232363338373862643234646533393634303536353534376566316265326264613862386364
              61356430336662633566303563316566626132323636326336373534643637393237313830616665
              35643431663065626337666364306165376235353361633931333439376636303131303331353333
              35366234396434303434373961666132616365646534643665363563623235653935303864386663
              34306364626161626233353233303130393631666430663065326435383063336133383038646364
              36623937363561663737663763656436396163303965306537633966663336366531343532656232
              38633735373236646535323039623636613131333266316364343866343730623436623839666237
              38303239663839373536613833613637353063616339356364393262336434373434363737356362
              37353933336530313866646639366630346436356431633361316265346637666537306138336331
              65333165666661313439323435346632363064363939336133303666393531333536386136363730
              37396238303134613933383162613238663339393435336361373965633063376239653330366230
              64376539613666653133343931636338613937616364613239383261343164653862393062306465
              61633239326231616565373732623737356539303263343463376364366438656435373934376432
              31623632343264316432306339376464623932303030366134393335313331326233666132373731
              62653364343731336465383530623963306664396334646139373439616563646238316431303630
              64666435376632343433333266643361626234316237646434396162313863626261303532336236
              30363763323434313264343363313838616534383732333465376331643632306262393134333661
              63636536373234316665313961306261623433333932393064356161643061343639656638313366
              34323264353333326539303933333765656636653037346163663066623236373562653963323330
              66636136666438373031356339636562323535343462626263306561323339613234643232383435
              65633762373335346130616234613664633862623839386134376261646339616263393936323363
              39623633666134353732303463336132643235363333386663633464613836653239396363343235
              36646563646166383539343363353362333362633566346464376132373331396565653064333061
              35646466346537363761363136303661343032316234623931363261316265366662316361393032
              38616339393638616164353135326231306335373966316363613138396139646133363235363732
              33393363646130616466333363346435383633313133613836313266313439633465316463633737
              31646337363030643439356265666231336363663762663830313837373837333261636535633765
              39613137363534663364626633356533373230336536393162353164396333343330366130616534
              61326163653166356636666334626634613132323539363439386533666166643261396534336132
              62303330336439323134326134313964346564643565363137343031363139313566303461666665
              35666333653665626637613437383763646664323632396664626661343639323939613663636334
              33623863336662373037653563343432356437343236346632643233326565386131616637613334
              32386634333030663438623230336630386233373865333633363736326234346363643037333163
              37623938323630323139616631323266653761386335666161643961306461613463366365316638
              66393561653836313661363835626161626635303232616135303666643463643532656331326432
              32356331613730306132306439383736323133656331643635306461383430333532626461663436
              65346664663630316632626465343665326438363963323365623263616165643566643562623439
              35343739383765333261363435636132623037376134323237393838376466616239656265316536
              63316665363237333165323735643032626137383332633066623237353865363639313837626232
              38343030663066636637636231633535636639323361333534363931333137313738343038376433
              36363232303663636335613037373163386430623335353662383630376630633231313161373663
              35393033616430313062633065333563633636323338373331656638663963633663633661303264
              63386134383539376430643462633231623962373030346234303137346564663239393134643735
              66393538383038373339366461653039313936616133373162326531393531633866636435323764
              35643865626566363766626463366263326435353864623637663562386336303239663138646563
              64643064633963363463653839336563656263363330376430336539666230666262333831326361
              36656635663632643366616331326133326165623963663935643330326434393564383131353365
              61643335333035656336653763663031663134646431633130336332646238383965326339653962
              33383666303962363630363936303835353038643636323335373034336536393935376434306630
              65633365336366623935323134363164363964373334343861373764383165316438636239326561
              66613138303635313430313230653430336436356430666330663338636137343962346265303137
              33346637656162343631343233613639646431666231323638666237396365326561306635356466
              66386163306262313832353534626631393832643330353161623965653637376236623561376231
              34323762326266393239363338643636316232666663633566373933393665396365633838333361
              31626361326262636364396135313337616435363464316661633034613166373338326563343738
              37633131333233316166643230346336363136396365336439636235613530336562623537376338
              66653466306462386466303031316465303834396339393235663632393630666138643761363331
              65613236653430333332646533366338363362653832333837303463653365613439303437333564
              61336638373436373933336430326634613839373338346137633139323833643038343836653030
              34613330353163613239643866313239346430653162363430336533356438643834323735656663
              38646638656532653732386238326365666161386664643338306439653964343735
  roles:
    - geerlingguy.java
    - geerlingguy.jenkins
  pre_tasks:
    - name: Update apt
      apt:
        update_cache: yes
        cache_valid_time: 3600
      become: true

    - name: Ensure that pip is installed
      become: true
      package:
        name: pip
        state: present

    - name: Install ansible
      pip:
        name: ansible
        state: present

    # https://github.com/jenkinsci/configuration-as-code-plugin
    - name: Template jenkins.j2 to {{ jenkins_home }}/jenkins.yaml
      template:
        src: jenkins.j2
        dest: "{{ jenkins_home }}/jenkins.yaml"


  # tasks:
  #     # https://github.com/jenkinsci/configuration-as-code-plugin
  #   # - name: Template jenkins.j2 to {{ jenkins_home }}/jenkins.yaml
  #   #   template:
  #   #     src: jenkins.j2
  #   #     dest: "{{ jenkins_home }}/jenkins.yaml"
  #   - ansible.builtin.ping:

