- name: Install Jenkins
  hosts: web
  connection: ssh
  become: True
  vars:
    ansible_user: ansible
    nginx_user: www-data
    nginx_vhosts: []
    nginx_remove_default_vhost: True
    nginx_ppa_version: stable
    # This variable drives which user Ansible will use to connect to the target hosts
    jenkins_domain_name: jenkins.webfxinteractive.com
    jenkins_ssl_directory: /etc/ssl/private
    jenkins_ssl_csr_path: /etc/ssl/private/{{ jenkins_domain_name }}.csr
    jenkins_ssl_certificate_path: /etc/ssl/private/{{ jenkins_domain_name }}-fullchain.pem
    jenkins_ssl_privkey_path: /etc/ssl/private/{{ jenkins_domain_name }}-privkey.pem
    jenkins_http_port: 8080
    jenkins_https_port: 8443
    infrastructure_state: present
    jenkins_home: /var/lib/jenkins
    jenkins_admin_username: admin
    jenkins_admin_password: !vault |
              $ANSIBLE_VAULT;1.1;AES256
              32366464633537306638653262336231356531636531336361643031323264306630653932646234
              3038383262306465653364373061636239303032306165370a396165323736613163343330666237
              63616635376236663964363663376663326333646232613032653463333539643830363831393238
              6139336236353734660a326665666265623161616333353365393137633262373831313235636136
              35306266633030336532343764616261363039353936363030656261633064363637363639653431
              3739363131616436653230623163383966336331666262643262
    jenkins_process_user: jenkins
    # https://github.com/jenkinsci/jenkins/blob/6ca9b5ee5f601f72fcd094f8d159272c6b504b2f/core/src/main/resources/jenkins/install/platform-plugins.json
    jenkins_plugins:
      - ansible
      - ansicolor
      - ant
      - antisamy-markup-formatter
      - build-timeout
      - cloudbees-folder
      - configuration-as-code
      - credentials-binding
      - docker-plugin
      - docker-workflow
      - email-ext
      - git
      - github-branch-source
      - gradle
      - ldap
      - mailer
      - matrix-auth
      - pam-auth
      - pipeline-github-lib
      - pipeline-stage-view
      - ssh-slaves
      - timestamper
      - workflow-aggregator
      - ws-cleanup
    docker_users:
      - jenkins
    github_app_id: 290381
    github_app_description: "doer - site creator"
    github_app_jenkins_id: "github-app-doer"
    github_app_key_raw: !vault |
              $ANSIBLE_VAULT;1.1;AES256
              30366231346135353866613631643732303863316532646264633863653635326265316536336562
              3731353665636630343762613331346434303431616537330a313364656230346364663165616534
              30653362376635643136633061396538386463653239643934636533316131393138346230323130
              3434633236303732380a393335386434386137373532326532303833653366386364303231383563
              66386230336539346234313062396432313761356335353162306538396339386130633266366262
              39316534386666613133356132643935666239313761343631653137326461663761303361336635
              63313433623230376532306136636438616561313335393133326436363130646266373165373966
              31303531346462326139653138373136396266633062613638646438663731393132356262646231
              61653131333966613565306635643434353139343731633538363863393362643538613065323237
              35313666653365643065333865383339353339323535613632623932663439316539366165626339
              33383133336165376238393261633762303262366666396264633562306535336661616530306432
              61636333623234626332343730663133626338613430633561616436613461643330366463373161
              63353438353737383233313534326266396462386639653034363965373130316530663534663561
              66303730393232396339336331666464623430383131653733366637313234656130383430353162
              30373835306162383063373637636138393965656564363563363761336664333663623430386437
              62333066356533363532626565386364623065613231653331363964373635383363663466633939
              65326263336637393437363362396330653339356436633033333933313031316131393361366331
              30383331396463633936313063366535393332663834303730383031343332386663303166306539
              36356539653332376137373438333937393837666131623663393563616165363162666631376531
              31393231663365633764353261366232313262366330646430373461393064636636316237303635
              32356634326562386163643066356637383136616331333230376262623432303330316233383265
              39306562333936343835306361323533303732323630333631326262623531383565386634346639
              65646330326631636463316138343764306166343262323464386237633163623437376335343536
              66386331633765323265396438346535346236316238306537383265346138326138656165386639
              38363039396266326130643236343935316637363165646164356163616266346130323863613034
              30666362386232633963626532353931386335343934643765393034356432303364643466343630
              61643963326232633834653130383234646239643966383731653938663164656462353731633334
              30323962646535616432356562316331376365643033386462303838643431303162653531383966
              39663061663735383835313166323033333732346565313261653965393730616139393462336436
              65636632393961343038643135613166653937613761323837336335643039366436633966613161
              63343133343363316235653766393166393131303231303662373431303137376461303438373961
              38623065336264323461303766316533323261623934373835373436386132303438316236303738
              62356431363537613764643834303738363736636638386262316138353566306136303531393637
              63333530626236333633386334346235663766353031343338306562326265383833643564306336
              62613361656532653039306236666163326132633661663537336136323835336431623630306437
              64623364303035616363323661336130653131356337363433363461343461333461333336396166
              32646661666264303739633862376261383133393735373132636237643537346265343232626366
              63343365353039373230633463643639386165316537643765623031636661383331376162346666
              39396439653462376466303165663131653235363036383866343731303234316431323738373761
              62306634376538303361393362386532633163666662393438343466663535366463666338383962
              30636235363761663866316330303835323361623036353834636232373236336562363332356362
              36356366313265636230616139653030323537636135396165336431306238303537336433643732
              66306162383863633964643963373561383261656665346132376663353064323434626538326232
              62343632393061303961643164373937346162333035633661306664306664366432313337623565
              36346464316530373165306435333264613334343864626466646565353539383665613566663235
              65663764393063656230353632643638383436346562363033313062393666343439373165633535
              37306532653532633838613337373161646161313633653130383864396433396432663963626139
              38646266633235393535343565663861353364363634323436306266313064366165373032373965
              65626238373934326631396364303862323732653835396165626631366138653865333534343635
              35356163393835656232383161313232313837333863313331666461346138343937383966386664
              62336566326339636263373936653438633135326666353135353833313832383861656564396464
              61313932366530303036623434346164343535386363303839376630323434663232303764393238
              32613134626333646234313265613263623732643263626562643934636536663165323962663264
              35356239346166356432333932343435326636653736343834396464343130633036303065366532
              62366330363931343962623835383662363739613935396565393336643731663632396164666137
              65306437613930346239653762363930363063303664303666323930396164343134336131633661
              62353131616337653934323962323934333261326133656539373833633462316262623061653630
              37373964336636653836646463393135383866623662306462326539396534663438326433343136
              37656531666435336130313032313063373764653466356561323834313061383336363233353564
              35323438363538366538386262656363646539343666336532343835623536653766363166653364
              30643564633336366361623030346635333738383634386334303466373836613762373966633965
              39353662616634616463373864366139626239313139663364633437353235343336346361383933
              30336261343635373166653261383636636566373139373266313461363064636635666432373434
              61626636636132396538646336363566353566363032666538333366383134356237343664353238
              61323137343033613439393861323030623263633861616135633262316566353834636564333034
              65636434356666333834636161633033313936313631643131383362646163396632646433363033
              32376136613536303665356264613139333634333361616633363965346161643137366332666166
              37666564383136653063386166323537646263656638373138336131653432316262633632653839
              66353064356431313565323039303736313437383163616363313631306633613137373232656638
              31323637383432373162643863623964326539326336323038656639346335353134613664383365
              65313865613565346238313233373363383738383530346236616139386463323937383231363238
              66646630653361653930356230376264633535343562323030346663623861663464616463336638
              34333162343730363930666339613863376139623236326161653638373934373334636665393335
              63353539663839353464663738353039373939323338366130366631333236336537636365633965
              32303065613033393566366632623333323434663965383365333131633036653761656337343935
              30396231623234393934396466363762313163633639633561346165376637376339663662363034
              31633163313361356462386435353938326261623165363066663231366230336562346463636430
              64353039323962316534366466613533316331326331383932656439616534636564393938386434
              62663734336535363837323433363861353866326438326662396331613437353832663136386263
              64323130336233323636666436343535383463663766656634353533323561313936353738386366
              37663139356463633430363037363532306364323532353561363735373866633331646363323661
              36353734393061636538346631316663383336386537346138396135643663343361353839353064
              33613831356136336438623764396131363862343133363366653730653239623832366636643332
              64346331353861616535323764623365383264346163663337386265323132343337303134343334
              39336565383934333032383937316665383836613166663761633363376165323335336139303963
              38663636353838346332333036663430323430303037656664393435383737376262616266303166
              62643565626465323538613364363734303062366237303962336164386565613765323465333431
              32646236373266323261313337636139383264333037326264326433316561393335373062303865
              32653631313163386438333965616465356166663961666263653934353261346330
    github_packages_username: AndrewJDawes
    github_packages_classic_token: !vault |
              $ANSIBLE_VAULT;1.1;AES256
              33373862353761303762646634663665363137393838383932323165316462626164343736333930
              6137663263616235616633636235623966353330653537380a663264303436386230626261383531
              64313263336161326135353230363433656264623733366562623038326335643532316330653661
              6362356662393264390a373362356531363263303132343031636562386262336461613762666538
              34616636376436326664313433343662643233666665396561343931633335386534376637663132
              6235343463333036366665356461616230613364356136316535
  roles:
    - geerlingguy.java
    - geerlingguy.jenkins
    - geerlingguy.docker
    - geerlingguy.nginx
  pre_tasks:

    - name: Update apt
      apt:
        update_cache: yes
        cache_valid_time: 3600
      become: true

    - name: Intall libssl-dev
      become: true
      apt:
        name: libssl-dev
        state: present

    - name: Ensure that pip is installed
      become: true
      package:
        name: pip
        state: present

    - name: Install ansible
      pip:
        name: ansible
        state: present

    - name: Install pyOpenSSL
      pip:
        name: pyOpenSSL
        state: present

    # https://stackoverflow.com/questions/67494516/with-ansible-how-do-i-write-a-private-key-to-a-text-file-without-losing-the-lef
    - name: Set github_app_key
      set_fact:
        github_app_key: "{{ github_app_key_raw | to_json }}"

    # https://github.com/jenkinsci/configuration-as-code-plugin
    - name: Template jenkins.j2 to {{ jenkins_home }}/jenkins.yaml
      template:
        src: jenkins.j2
        dest: "{{ jenkins_home }}/jenkins.yaml"
      notify:
        - Restart Jenkins

  tasks:
    - name: Create a folder to store keys and env file
      become: true
      file:
        path: "/home/{{ jenkins_process_user }}/beanstalk_to_github_migration"
        state: directory
        mode: 0700
        owner: "{{ jenkins_process_user }}"
        group: "{{ jenkins_process_user }}"

    - name: Copy and decrypt keys and env files
      become: true
      copy:
        src: "beanstalk_to_github_migration/{{ item }}"
        dest: "/home/{{ jenkins_process_user }}/beanstalk_to_github_migration/{{ item }}"
        mode: 0600
        owner: "{{ jenkins_process_user }}"
        group: "{{ jenkins_process_user }}"
      with_items:
        - beanstalk.pem
        - github_app.pem
        - github.pem
        - previously_authorized.pem
        - .env

    - name: Ensure directory exists for local self-signed TLS certs.
      file:
        path: "{{ jenkins_ssl_directory }}"
        state: directory
        owner: "{{ nginx_user }}"
        group: "{{ nginx_user }}"

    - name: Generate an OpenSSL private key.
      openssl_privatekey:
        path: "{{ jenkins_ssl_privkey_path }}"
        owner: "{{ nginx_user }}"
        group: "{{ nginx_user }}"

    - name: Generate an OpenSSL CSR.
      openssl_csr:
        path: "{{ jenkins_ssl_csr_path }}"
        privatekey_path: "{{ jenkins_ssl_privkey_path }}"
        common_name: "{{ jenkins_domain_name }}"
        owner: "{{ nginx_user }}"
        group: "{{ nginx_user }}"

    - name: Generate a Self Signed OpenSSL certificate.
      openssl_certificate:
        path: "{{ jenkins_ssl_certificate_path }}"
        privatekey_path: "{{ jenkins_ssl_privkey_path }}"
        csr_path: "{{ jenkins_ssl_csr_path }}"
        provider: selfsigned
        owner: "{{ nginx_user }}"
        group: "{{ nginx_user }}"

    - name: Template nginx/jenkins.conf.j2 to /etc/nginx/sites-enabled/
      template:
        src: nginx/jenkins.conf.j2
        dest: /etc/nginx/sites-enabled/jenkins.conf
      notify:
        - Restart Nginx

  handlers:
    - name: Restart Jenkins
      become: true
      service:
        name: jenkins
        state: restarted
    - name: Restart Nginx
      become: true
      service:
        name: nginx
        state: restarted

